.notification-badge {
  background-color: var(--color-red, #ff4757);
  color: white;
  font-size: 0.7rem;
  width: 18px !important;
  height: 18px !important;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.tab-button .notification-badge {
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translate(50%, -50%);
}

